Repository saucelabs/saucectl, pull requests merged in 2022-06, with the labels that each got.

#556 Ignore in progress jobs when computing pass/fail for results
  internal/saucecloud/cloud.go
Labels: bug

#567 Ensure that only supported platforms can be run
  internal/framework/framework.go
  internal/framework/framework_test.go
  internal/framework/search.go
  internal/framework/search_test.go
  internal/msg/msg.go
  internal/saucecloud/cypress.go
  internal/saucecloud/cypress_test.go
  internal/saucecloud/playwright.go
  internal/saucecloud/replay.go
  internal/saucecloud/testcafe.go
Labels: playwright, testcafe, cypress

#561 [DEVX-1773] Bump cypress to v10.1.0
  .sauce/cypress-10.yml
  go.mod
  go.sum
  internal/cmd/ini/cypress.go
  internal/cmd/run/cypress.go
  internal/cypress/config.go
  internal/cypress/suite/suite.go
  internal/cypress/v1/config.go
  internal/cypress/v1/config_test.go
  internal/cypress/v1alpha/config.go
  internal/cypress/v1alpha/config_test.go
  internal/cypress/v1alpha/native.go
  internal/cypress/v1alpha/native_test.go
  internal/docker/cypress.go
  internal/docker/docker_test.go
  internal/msg/errormsg.go
  internal/saucecloud/cloud.go
  internal/saucecloud/cypress.go
  internal/saucecloud/cypress_test.go
  tests/e2e/cypress.config.js
  tests/e2e/cypress_10/e2e/cypress.config.js
  tests/e2e/cypress_10/e2e/cypress/e2e/examples/actions.cy.js
  tests/e2e/cypress_10/e2e/cypress/e2e/examples/assertions.cy.js
  tests/e2e/cypress_10/e2e/cypress/e2e/examples/traversal.cy.js
  tests/e2e/cypress_10/e2e/cypress/fixtures/example.json
  tests/e2e/cypress_10/e2e/cypress/plugins/index.js
  tests/e2e/cypress_10/e2e/cypress/support/commands.js
  tests/e2e/cypress_10/e2e/cypress/support/e2e.js
Labels: cypress

#569 [DEVX-1756] Add --update-snapshots for playwright
  api/v1alpha/framework/playwright.schema.json
  api/v1alpha/generated/saucectl.schema.json
  internal/cmd/run/playwright.go
  internal/playwright/config.go
Labels: playwright

#572 Fix npm dependency inclusion rules
  internal/node/package.go
  internal/saucecloud/cloud.go
  internal/sauceignore/matcher.go
  internal/sauceignore/matcher_test.go
Labels: bug, playwright, testcafe, cypress
