Repository saucelabs/saucectl, pull requests merged in 2025-04, with the labels that each got.

#1020 [INT-83] add devices list command
  cmd/saucectl/saucectl.go
  internal/cmd/devices/cmd.go
  internal/cmd/devices/list.go
  internal/cmd/ini/initializer.go
  internal/devices/devices.go
  internal/devices/devicestatus/devicestatus.go
  internal/http/rdcservice.go
  internal/http/rdcservice_test.go
  internal/mocks/devices.go
Labels: enhancement

#1023 chore: Remove deprecated feature
  api/saucectl.schema.json
  api/v1/framework/cypress.schema.json
  internal/cypress/v1/config.go
Labels: cypress

#1024 [INT-167] pass project as a pointer in cypress and testcafe
  internal/cmd/run/cypress.go
  internal/cmd/run/testcafe.go
  internal/saucecloud/cypress.go
  internal/saucecloud/testcafe.go
  internal/saucecloud/testcafe_test.go
Labels: bug, testcafe, cypress
